/build/
/lib/
/bin/
/Debug
/Release
/doc/html
/figs
/figs_bot
/Utest/*/inifiles*/
/Utest/*/trajectories
*~

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.gch
*_flymake
# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Cmake
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

CTestTestfile.cmake
DartConfiguration.tcl

vgcore.*
/d
/figs/*
/TAGS
/math/test.cpp
/.dir-locals.el
/Doxyfile
/*log*
/*plot*
/.idea/.name
/.idea/encodings.xml
/.idea/jpscore.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/scopes/scope_settings.xml
/.idea/vcs.xml
/.idea/workspace.xml
/Testing/Temporary/CTestCostData.txt
/Utest/runtests.py
/Utest/test_11/.igncd
/Utest/test_7/.gitignore
/Utest/test_8/routing.xml
/Utest/test_9/cpu.png
/Utest/utils.pyc
/auto/veloModel2.el
/cpu.png
/cscope.file
/gompertz.pdf
/veloModel2.org
/veloModel2.pdf
/veloModel2.tex
