<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<JPScore project="JPS-Project" version="0.6" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:noNamespaceSchemaLocation="http://xsd.jupedsim.org/0.6/jps_events.xsd">
  <events>
    <event time="5" state="open" id="0"/>
    <event time="20" state="reset" id="0"/>
  </events>
</JPScore>
