sphinx~=7.3.7
sphinx-copybutton==0.5.2
sphinx-autoapi==3.0.0
sphinx-book-theme==1.1.2
sphinx-favicon==1.0.1
sphinx-notfound-page==1.0.0
myst-nb==1.1.0
nbconvert==7.16.4

# notebook dependencies
shapely
plotly
plotly-express
numpy
pandas
pedpy
ipywidgets
