# Created by .ignore support plugin (hsz.mobi)
### C template
# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
### C++ template
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
### CMake template
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake

.gitignore
.idea/
Utest/sample_jpsreport/
bin/
build/
lib/
scripts/overlap.py
scripts/results_rho_v_Voronoi_CROSSING_90_A_07_f_dir/
scripts/rho_v_Voronoi_CROSSING_90_A_07_f_dir.txt_id_1.dat
scripts/stefan copy/
scripts/stefan/
test.py
/Release/
build*
